//Colores utilizados en la aplicacion
//generales
$background-color: #ffffff;
$background-color-footer: #121212;
$verde-agua-marina: #007B8A;
$beige: #F0EEE7;
$negro: #000000;
$rojo-texto-error: #CC4949;
$verde-exitoso: #28A745;
$rojo-usuario-deshabilitado: #E57373;
$rojo-campos-obligatorios: #FF0000;
$naranja-alerta: #F4A825;
$gris-campo-deshabilitado: #A0A0A0;
$rojo-eliminar-rechazar: #C0392B;

//iconos
$verde-icono-seleccionado: #4CAF50;
$rojo-iconos-error: #FA332F;

//estados
$verde-estado-finalizado: #28A745;
$naranja-estado-enprogreso: #F4A300;
$azul-estado-nuevo: #007BFF;
$rojo-estado-sin-tareas: #F44336;
$gris-estado-bloqueado: #ADB5BD;
$rojo-estado-encorrecion: #DC3545;
$amarillo-estado-enrevision: #FFEB3B;
$verde-linea-produccion-activa: #EAF7EC;