@use 'variables' as *;
@use "sass:color";

.container-page-detail {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    height: auto;
    overflow-x: hidden; 
}

.button-volver {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border: none;
    background-color: $beige;
    gap: 0.2em;
    border-radius: 20px;
}

.button-volver svg {
    width: 20px;
    height: 20px;
}

.button-volver span {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.button-volver:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.title {
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.reference {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.container-error {
    height: auto;
    background-color: $beige;
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: auto;

    svg {
      width: 25px;
      height: 25px;
      fill: $naranja-alerta !important;
    }

    p {
      width: 100%;
      height: auto;
      color: rgba($negro, 0.7);
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
    }
}

.container-info {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 0;
  height: auto;
}

.container-info h3 {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
  overflow-y: hidden;
  height: auto;
}

/* la tabla no debe ocupar siempre 100% */
table {
  border: 1px solid $negro;
  border-collapse: collapse;
  min-width: 450px;
  width: 100%;
  height: auto;
}

thead {
    height: auto;
    background-color: rgba($beige, 0.35);
}
thead th {
    padding: 0.5em;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    border: 1px solid $negro;
    border-collapse: collapse;
}

.col-left {
    text-align: start;
}

.col-up {
    vertical-align: top;
}

.col-center {
    text-align: center;
}

tbody {
    height: auto;
    width: 100%;
}

tbody  tr td {
    height: auto;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    border: 1px solid $negro;
    border-collapse: collapse;
    padding: 0.5em;
}

tbody .buttonShowDetail {
    width: 100px;
    height: 20px;
    background-color: $background-color;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: $verde-agua-marina;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration-thickness 0.3s ease;
}

tbody .buttonShowDetail:hover {
  color: color.adjust($verde-agua-marina, $lightness: -10%);
  text-decoration-thickness: 2px;
}

tbody .container_state {
  height: 25px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  .state {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }

  .state.sin_tareas {
    background-color: $rojo-estado-sin-tareas;
  }

  .state.completo {
    background-color: $verde-estado-finalizado;
  }
}

// --- Sin paginador ---
.tfoot-simple {
  background-color: rgba($beige, 0.35);
  height: auto;

  td {
    padding: 0.3em;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
}

// --- Con paginador ---
.tfoot-paginated {
  .tfoot-container {
    display: flex;
    flex-direction: row;
    gap: 0;
    background-color: rgba($beige, 0.35);
    padding: 0.3em 0;
    width: 100%;

    .text {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-style: normal;
    }

    .buttons {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      height: 20px;
      width: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &.active {
        border: 2px solid $verde-agua-marina;
        color: $verde-agua-marina;
      }
    }

    .arrow:disabled {
      color: $background-color;
      background-color: $gris-campo-deshabilitado;
    }
  }
}

.container-colors {
  max-width: 800px;
}

.container-colors h3 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.colors-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.colors-wrapper span {
    background: $beige;
    padding: 0.5em 2em;
    border-radius: 20px;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.container-tallas {
  max-width: 800px;
}

.container-tallas h3 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.sizes-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.sizes-wrapper span {
    background: $beige;
    padding: 0.5em 1.5em;
    border-radius: 20px;
    white-space: nowrap;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.conatiner-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding-top: 1.5em;

  button {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }

  .button-cancel{
    background-color: $beige;
    color: $negro;
  }

  .button-cancel:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .button-finish{
    background-color: $verde-agua-marina;
    color: $background-color;
    transition: filter 0.3s ease;
  }

  .button-finish:hover {
    filter: brightness(1.2);
  }
}

@media (max-width: 768px) {

    .button-volver {
        margin: 0 auto;
    }

    .container-info {
        gap: 1em;
        padding: 0;
    }

    .container-table {
        max-width: 600px;
    }
    
    table {
        max-width: 450px;
    }
}