# Compilación y cachés
/dist
/tmp
/out-tsc
/.angular
/coverage

# Dependencias
/node_modules

# Logs
*.log

# Archivos de entorno
.env
.env.*

# IDEs y editores
.vscode/
.idea/
.history/

# Archivos de sistema
.DS_Store
Thumbs.db