<div class="container-usuarios">
  <h1 class="title">Usuarios</h1>
  <p class="text">
    En esta sección podrá visualizar los usuarios registrados en el sistema, crear nuevos usuarios (administradores u operarios) y cambiar el estado
    de los existentes entre activo e inactivo.
  </p>
  <div class="container-button">
    <button (click)="onFormModal()" class="crear-button">
      <svg class="icon">
        <use xlink:href="assets/icons-sprite.svg#general-add"></use>
      </svg>
      <span>Crear nuevo usuario</span>
    </button>
  </div>
  <div class="container-table" *ngIf="users.length > 0; else dataNotFound">
    <app-tabla-general [items]="users" [inputsConfigTable]="tableGeneralConfig" (valueChanged)="onValueStateChanged($event)"> </app-tabla-general>
  </div>
  <ng-template #dataNotFound>
    <app-sin-informacion
      [title]="'No se encontraron usuarios'"
      [text]="'Actualmente no hay usuarios registrados en el sistema. Por favor crea un nuevo usuario'"
    >
    </app-sin-informacion>
  </ng-template>
  <div class="conatiner-alert-modal" *ngIf="showAlertModal">
    <app-alert-modal [inputAlertModal]="alertModalConfig" (acceptModal)="updtateStateUser()" (closeModal)="closeAlertModal()"> </app-alert-modal>
  </div>
  <div class="conatiner-form-modal" *ngIf="showFormModal">
    <app-form-modal
      [inputsFormModal]="formModalConfig"
      (resultsForm)="validateErrors($event)"
      (fieldChange)="validateField($event)"
      (optionSelected)="onOptionSelected($event)"
      (modalClosed)="closeFormModal()"
    >
    </app-form-modal>
  </div>
</div>
