<div class="overlay">
  <div class="modal">
    <div class="container-close">
      <button class="button-close" (click)="onCloseClick()">
        <svg class="icon">
          <use xlink:href="assets/icons-sprite.svg#general-x"></use>
        </svg>
      </button>
    </div>
    <div class="content">
      <div class="container-text">
        <div class="container-title">
          <svg class="icon">
            <use xlink:href="assets/icons-sprite.svg#general-alert_triangle"></use>
          </svg>
          <h1 class="title">{{ inputAlertModal().title }}</h1>
        </div>
        <p class="text">{{ inputAlertModal().text }}</p>
      </div>
      <div class="error" *ngIf="inputAlertModal().error">
        <p class="text">{{ inputAlertModal().error }}</p>
      </div>
      <div class="container-buttons">
        <button class="cancelar" (click)="onCloseClick()">Cancelar</button>
        <button class="aceptar" (click)="onAceptClick()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
