<div class="footer_container">
  <div class="colum_one">
    <img src="assets/images/general/logo.webp" alt="Logo" class="logo" />
    <p class="text">2025 - Sistema de Planificación para PYMEs de Calzado. Todos los derechos reservados.</p>
  </div>
  <div class="colum_two">
    <p class="text">Este es un prototipo académico desarrollado como parte de un proyecto de grado.</p>
  </div>
  <div class="colum_three">
    <div class="container_contact_us">
      <h2 class="contact_us">Contactanos:</h2>
      <div class="email">
        <svg class="icon">
          <use xlink:href="assets/icons-sprite.svg#headerAndFooter-email"></use>
        </svg>
        <a href="mailto:contactenos@plancalzado.com" class="text_email">contactenos&#64;plancalzado.com</a>
      </div>
      <div class="phone">
        <svg class="icon">
          <use xlink:href="assets/icons-sprite.svg#headerAndFooter-phone"></use>
        </svg>
        <a href="tel:+573001234567" class="text_phone">+57 300 123 4567</a>
      </div>
    </div>
  </div>
</div>
