<div class="header_container">
  <div class="logo">
    <img src="assets/images/general/logo.webp" alt="Logo" />
  </div>
  <div class="information_container">
    <div class="user_info">
      <span class="user_name">Nombre: {{ username$ | async }}</span>
      <span class="user_role">Rol: {{ role$ | async }}</span>
      <span class="user_production_line" *ngIf="(role$ | async) === 'Operario'">Línea de Producción: {{ productionLine$ }}</span>
    </div>
    <hr class="divider" />
    <div class="nav_desktop">
      <nav class="menu">
        <ul>
          <li *ngFor="let option of menuOptions">
            <a [routerLink]="option.route" routerLinkActive="active">
              <svg class="icon" [attr.aria-label]="option.label" role="img">
                <use [attr.xlink:href]="'assets/icons-sprite.svg#' + option.icon"></use>
              </svg>
              <span>{{ option.label }}</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="cerrar_sesion">
        <button (click)="logout()" class="logout-button">
          <svg class="icon">
            <use xlink:href="assets/icons-sprite.svg#headerAndFooter-cerrarSesion"></use>
          </svg>
          <span>Cerrar Sesión</span>
        </button>
      </div>
    </div>
    <div class="nav_mobile">
      <button class="hamburger" (click)="toogleMenu()">
        <svg class="icon">
          <use xlink:href="assets/icons-sprite.svg#headerAndFooter-menu"></use>
        </svg>
      </button>
      <div *ngIf="isOpen" class="mobile_menu">
        <nav class="menu">
          <ul>
            <li *ngFor="let option of menuOptions">
              <a [routerLink]="option.route" routerLinkActive="active" (click)="isOpen = false">
                <svg class="icon" [attr.aria-label]="option.label" role="img">
                  <use [attr.xlink:href]="'assets/icons-sprite.svg#' + option.icon"></use>
                </svg>
                <span>{{ option.label }}</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="cerrar_sesion">
          <button (click)="logout()" class="logout-button">
            <svg class="icon">
              <use xlink:href="assets/icons-sprite.svg#headerAndFooter-cerrarSesion"></use>
            </svg>
            <span>Cerrar Sesión</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
