<div class="container-pedidos">
  <div class="container-page-pedidos" *ngIf="!viewPageChildren">
    <h1 class="title">Pedidos</h1>
    <p class="text">
      En esta sección podrá visualizar los pedidos registrados en el sistema, consultar su estado actual y crear nuevos pedidos. Una vez un pedido
      cambie al estado finalizado, podrá acceder a métricas generales del mismo, como tiempos de ejecución y costos asociados.
    </p>
    <div class="container-button">
      <button class="crear-button" (click)="openCreatePage()">
        <svg class="icon">
          <use xlink:href="assets/icons-sprite.svg#general-add"></use>
        </svg>
        <span>Crear nuevo pedido</span>
      </button>
    </div>
    <div class="container-table" *ngIf="order.length > 0; else dataNotFound">
      <app-tabla-general [items]="order" [inputsConfigTable]="tableGeneralConfig" (itemDetail)="getArticleOrder($event)"> </app-tabla-general>
    </div>
    <ng-template #dataNotFound>
      <app-sin-informacion
        [title]="'No se encontraron pedidos'"
        [text]="'Actualmente no hay pedidos registrados en el sistema. Por favor crea un nuevo pedido.'"
      >
      </app-sin-informacion>
    </ng-template>
  </div>

  <!-- Permite llamar paginas hijas -->
  <router-outlet></router-outlet>
</div>
