@import 'variables';

.container_sin_informacion {
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.container_sin_informacion img {
    width: 60px;
    height: 70px;
}

.container_sin_informacion .title {
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    text-align: center;
}

.container_sin_informacion .text {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    text-align: center;
}