<div class="table-wrapper">
  <table>
    <colgroup>
      <col *ngFor="let col of inputsConfigTable().colums" [style.width]="col.width" />
    </colgroup>
    <thead>
      <tr>
        <th *ngFor="let col of inputsConfigTable().colums">
          {{ col.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginate" [class.inactive-row]="isInactiveRow(item)">
        <td *ngFor="let col of inputsConfigTable().colums" [ngClass]="['col-' + col.align, col.position ? 'col-' + col.position : '']">
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="col.isUser && inputsConfigTable().context === 'USER'">
              <label for="input-swich" class="switch">
                <input type="checkbox" [checked]="getStateUserValue(item, col.key)" (click)="setStateUserValue($event, item, col.key)" />
                <span class="slider round"></span>
              </label>
            </ng-container>

            <ng-container
              *ngSwitchCase="
                col.isImage && (inputsConfigTable().context === 'SHOEDESIGN' || inputsConfigTable().context === 'ORDERGERENT-ADDARTICLE')
              "
            >
              <label for="input-image" class="image">
                <img [src]="item[col.key]" alt="Imagen desde base64" />
              </label>
            </ng-container>

            <ng-container
              *ngSwitchCase="col.isState && (inputsConfigTable().context === 'ORDERGERENT' || inputsConfigTable().context === 'ORDERGERENTADMIN')"
            >
              <div class="container_state">
                <label for="input-state" [ngClass]="['state', getStateClass(item[col.key])]">
                  {{ item[col.key] }}
                </label>
              </div>
            </ng-container>

            <ng-container
              *ngSwitchCase="col.isProductionLine && (inputsConfigTable().context === 'ORDERGERENTADMIN-SHOW-TASKS'  || inputsConfigTable().context === 'TASKOPERATOR')"
            >
              <div class="container_state_production_line">
                <label for="input-production-line" [ngClass]="['state_production_line', getStateProductionLine(item[col.key])]">
                  {{ item[col.key] }}
                </label>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="col.isShowDetail">
              <label for="input-detail" class="showDetail">
                <button class="buttonShowDetail" (click)="setShowDetail($event, item, col.key)">Ver Detalle</button>
              </label>
            </ng-container>

            <ng-container *ngSwitchCase="col.isShowAddArticle">
              <label for="input-add-article" class="addArticle">
                <button class="buttonAddArticle" (click)="setShowDetail($event, item, col.key)">Añadir</button>
              </label>
            </ng-container>

            <ng-container *ngSwitchDefault>
              {{ item[col.key] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="items().length > inputsConfigTable().itemsPerPage">
      <tr>
        <td [attr.colspan]="inputsConfigTable().colums.length">
          <div class="tfoot-container">
            <div class="text">
              <span>{{ firstItemIndex }} - {{ lastItemIndex }} de {{ items().length }}</span>
            </div>
            <div class="buttons">
              <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1" class="arrow">
                <svg class="icon">
                  <use xlink:href="assets/icons-sprite.svg#general-back"></use>
                </svg>
              </button>

              <button *ngFor="let page of visiblePages" (click)="goToPage(page)" [class.active]="page === currentPage" [disabled]="page === 'dots'">
                <ng-container *ngIf="page === 'dots'">...</ng-container>
                <ng-container *ngIf="page !== 'dots'">{{ page }}</ng-container>
              </button>

              <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages" class="arrow">
                <svg class="icon">
                  <use xlink:href="assets/icons-sprite.svg#general-forward"></use>
                </svg>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
