<div class="container-create-design">
  <button class="button-volver" (click)="onBackAction()">
    <svg class="icon">
      <use xlink:href="assets/icons-sprite.svg#general-arrow_back"></use>
    </svg>
    <span>Volver</span>
  </button>
  <h1 class="title">Crear Nuevo Diseño de Calzado</h1>
  <div class="container-form">
    <div #errorDiv class="container-error" *ngIf="generalError">
      <svg class="icon">
        <use xlink:href="assets/icons-sprite.svg#general-alert_triangle"></use>
      </svg>
      <p class="text-error">{{ generalError }}</p>
    </div>
    <ng-container>
      <!-- Input name -->
      <div class="container-name">
        <div class="container-text">
          <label for="input-name">Nombre</label>
          <span class="required"> *</span>
        </div>
        <input
          type="text"
          id="input_name"
          class="input_name"
          placeholder="Ingrese el nombre"
          [attr.required]="true"
          (input)="onFormChange($event, 'name')"
        />
        <div class="error-message" *ngIf="shoeDesignErrors.name_error">
          <span>{{ shoeDesignErrors.name_error }}</span>
        </div>
      </div>
      <!-- Select Categoría -->
      <div class="container-category">
        <div class="container-text">
          <label for="input-category">Categoría</label>
          <span class="required"> *</span>
        </div>
        <div class="custom-select-container">
          <button
            type="button"
            class="custom-select-container-button"
            aria-label="Desplegar categorías"
            (click)="toggleCategory()"
            (keydown.enter)="toggleCategory()"
            (keydown.space)="toggleCategory()"
          >
            <div class="selected" [class.placeholder]="!newShoeDesign.category_id">
              {{ getOptionName(shoeCategorys, newShoeDesign.category_id, 'Seleccione la categoría') }}
              <svg class="icon-arrow">
                <use xlink:href="assets/icons-sprite.svg#general-arrow_select"></use>
              </svg>
            </div>
          </button>

          <ul class="options" *ngIf="openCategory">
            <li
              *ngFor="let option of shoeCategorys"
              tabindex="0"
              [class.active]="option.id === newShoeDesign.category_id"
              (click)="onFormChange(option.id, 'category_id')"
              (keydown.enter)="onFormChange(option.id, 'category_id')"
              (keydown.space)="onFormChange(option.id, 'category_id')"
            >
              {{ option.nombre }}
            </li>
          </ul>
        </div>
        <div class="error-message" *ngIf="shoeDesignErrors.category_id_error">
          <span>{{ shoeDesignErrors.category_id_error }}</span>
        </div>
      </div>
      <!-- Input Descripcion -->
      <div class="container-description">
        <div class="container-text">
          <label for="input-description">Descripción</label>
          <span class="required"> *</span>
        </div>
        <textarea
          name="input_description"
          id="input_description"
          class="input_description"
          [attr.required]="true"
          placeholder="Ingrese una breve descripción"
          (input)="onFormChange($event, 'description')"
        ></textarea>
        <div class="error-message" *ngIf="shoeDesignErrors.description_error">
          <span>{{ shoeDesignErrors.description_error }}</span>
        </div>
      </div>
      <!-- Manejar Imagen -->
      <div class="container-image">
        <div class="container-text">
          <label for="input-image">Subir Imagen</label>
          <span class="required"> *</span>
        </div>
        <div class="container-upload-image" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
          <div class="container-column-left">
            <div class="container-preview-image" [ngClass]="{ 'has-image': newShoeDesign.image, 'no-image': !newShoeDesign.image }">
              <ng-container *ngIf="newShoeDesign.image; else svgPlaceholder">
                <img [src]="newShoeDesign.image" alt="Vista previa del diseño" />
              </ng-container>

              <ng-template #svgPlaceholder>
                <svg class="icon">
                  <use xlink:href="assets/icons-sprite.svg#shoeDesign-imageNull"></use>
                </svg>
              </ng-template>
            </div>
          </div>
          <div class="container-column-right">
            <p>Solo se permite cargar una imagen. Formatos válidos: .jpg, .jpeg y .png. Tamaño máximo: 2 MB.</p>
            <div class="container-buttons">
              <input type="file" accept="image/png, image/jpeg, image/jpg" hidden #fileInput (change)="onFileSelected($event)" />

              <div class="container-buttons">
                <button class="cargar-imagen" type="button" (click)="fileInput.click()">
                  <svg class="icon">
                    <use xlink:href="assets/icons-sprite.svg#shoeDesign-upload"></use>
                  </svg>
                  <span class="text">Cargar</span>
                </button>

                <button class="eliminar-imagen" (click)="removeImage()" [disabled]="!newShoeDesign.image">
                  <svg class="icon">
                    <use xlink:href="assets/icons-sprite.svg#shoeDesign-delete"></use>
                  </svg>
                  <span class="text">Borrar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="error-message" *ngIf="shoeDesignErrors.image_error">
          <span>{{ shoeDesignErrors.image_error }}</span>
        </div>
      </div>
      <!-- table lineas de produccion -->
      <div class="container-production-lines">
        <label for="input-production-lines">Líneas de Producción y Costos</label>
        <div class="table-container">
          <table>
            <colgroup>
              <col *ngFor="let col of tableConfig" [style.width]="col.width" />
            </colgroup>
            <thead>
              <tr>
                <th *ngFor="let col of tableConfig">
                  <ng-container *ngIf="col.key === 'costPerPair'; else noIsObligatory">
                    <div class="container-header-cost">
                      <span class="text">{{ col.name }}</span>
                      <span class="required"> *</span>
                    </div>
                  </ng-container>

                  <ng-template #noIsObligatory>
                    <span class="text">{{ col.name }}</span>
                  </ng-template>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataTable">
                <td
                  *ngFor="let col of tableConfig"
                  [ngClass]="[
                    'col-' + col.align,
                    col.position ? 'col-' + col.position : '',
                    col.key === 'costPerPair' && item.apply ? 'td-cost' : '',
                  ]"
                >
                  <ng-container [ngSwitch]="col.key">
                    <!-- Checkbox -->
                    <ng-container *ngSwitchCase="'apply'">
                      <div class="container-apply">
                        <input
                          type="checkbox"
                          [(ngModel)]="item.apply"
                          [disabled]="item.isObligatory"
                          [ngClass]="item.isObligatory ? 'checkbox-obligatory' : 'checkbox-optional'"
                          (ngModelChange)="syncProductionLines()"
                        />
                      </div>
                    </ng-container>

                    <!-- Input -->
                    <ng-container *ngSwitchCase="'costPerPair'">
                      <div *ngIf="item.apply" class="cost-input">
                        <input
                          type="text"
                          [ngModel]="formatCurrency(item.costPerPair)"
                          (ngModelChange)="onCostChange($event, item)"
                          (keydown)="allowOnlyNumbers($event)"
                        />
                      </div>
                    </ng-container>

                    <!-- Texto por defecto -->
                    <ng-container *ngSwitchDefault>
                      {{ item[col.key] }}
                    </ng-container>
                  </ng-container>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="text">
                  <span>Total:</span>
                </td>
                <td></td>
                <td class="cost-total">
                  <span>{{ totalCost }}</span>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="error-message" *ngIf="shoeDesignErrors.productionLines_error">
          <span>{{ shoeDesignErrors.productionLines_error }}</span>
        </div>
      </div>
      <!-- Select Colores -->
      <div class="container-colors">
        <div class="container-text">
          <label for="input-colors">Colores</label>
          <span class="required"> *</span>
        </div>
        <div class="custom-select-container">
          <button
            type="button"
            id="input_colors"
            class="custom-select-container-button"
            aria-label="Desplegar colores"
            (click)="toggleColors()"
            (keydown.enter)="toggleColors()"
            (keydown.space)="toggleColors()"
          >
            <div class="selected" [class.placeholder]="!newShoeDesign.colors.length">
              {{ newShoeDesign.colors.length ? 'Puede seleccionar más colores' : 'Seleccione los colores' }}
              <svg class="icon-arrow">
                <use xlink:href="assets/icons-sprite.svg#general-arrow_select"></use>
              </svg>
            </div>
          </button>

          <ul class="options" *ngIf="openColors">
            <div
              class="option-item"
              *ngFor="let color of shoeColors"
              tabindex="0"
              [class.active]="newShoeDesign.colors.includes(color.id)"
              (click)="toggleColor(color.id)"
              (keydown.enter)="toggleColor(color.id)"
              (keydown.space)="toggleColor(color.id)"
            >
              <div class="option-name">{{ color.nombre }}</div>
              <div class="icon-container" *ngIf="newShoeDesign.colors.includes(color.id)">
                <svg class="icon-check">
                  <use xlink:href="assets/icons-sprite.svg#shoeDesign-checkSelect"></use>
                </svg>
              </div>
            </div>
          </ul>
        </div>
        <div class="error-message" *ngIf="shoeDesignErrors.colors_error">
          <span>{{ shoeDesignErrors.colors_error }}</span>
        </div>
        <!-- Lista de colores seleccionados -->
        <div class="container-selected-colors" *ngIf="newShoeDesign.colors.length">
          <div class="container-title">
            <h3>Colores seleccionados:</h3>
          </div>
          <div class="colors-wrapper">
            <ng-container *ngFor="let color of shoeColors">
              <div class="selected-item" *ngIf="newShoeDesign.colors.includes(color.id)">
                <div class="item-name">
                  <span>{{ color.nombre }}</span>
                </div>
                <div class="item-action">
                  <button (click)="removeColor(color.id)">
                    <svg class="icon">
                      <use xlink:href="assets/icons-sprite.svg#general-x"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Select Tallas -->
      <div class="container-sizes">
        <div class="container-text">
          <label for="input-sizes">Tallas</label>
          <span class="required"> *</span>
        </div>
        <div class="custom-select-container">
          <button
            type="button"
            id="input_sizes"
            class="custom-select-container-button"
            aria-label="Desplegar tallas"
            (click)="toggleSizes()"
            (keydown.enter)="toggleSizes()"
            (keydown.space)="toggleSizes()"
          >
            <div class="selected" [class.placeholder]="!newShoeDesign.sizes.length">
              {{ newShoeDesign.sizes.length ? 'Puede seleccionar más tallas' : 'Seleccione las tallas' }}
              <svg class="icon-arrow">
                <use xlink:href="assets/icons-sprite.svg#general-arrow_select"></use>
              </svg>
            </div>
          </button>

          <ul class="options" *ngIf="openSizes">
            <div
              class="option-item"
              *ngFor="let size of shoeSizes"
              tabindex="0"
              [class.active]="newShoeDesign.sizes.includes(size.id)"
              (click)="toggleSize(size.id)"
              (keydown.enter)="toggleSize(size.id)"
              (keydown.space)="toggleSize(size.id)"
            >
              <div class="option-name">{{ size.id }}</div>
              <div class="icon-container" *ngIf="newShoeDesign.sizes.includes(size.id)">
                <svg class="icon-check">
                  <use xlink:href="assets/icons-sprite.svg#shoeDesign-checkSelect"></use>
                </svg>
              </div>
            </div>
          </ul>
        </div>
        <div class="error-message" *ngIf="shoeDesignErrors.sizes_error">
          <span>{{ shoeDesignErrors.sizes_error }}</span>
        </div>
        <!-- Lista de tallas seleccionados -->
        <div class="container-selected-sizes" *ngIf="newShoeDesign.sizes.length">
          <div class="container-title">
            <h3>Tallas seleccionadas:</h3>
          </div>
          <div class="sizes-wrapper">
            <ng-container *ngFor="let size of shoeSizes">
              <div class="selected-item" *ngIf="newShoeDesign.sizes.includes(size.id)">
                <div class="item-name">
                  <span>{{ size.id }}</span>
                </div>
                <div class="item-action">
                  <button (click)="removeSize(size.id)">
                    <svg class="icon">
                      <use xlink:href="assets/icons-sprite.svg#general-x"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="container-buttons">
      <button class="button-cancel" (click)="onBackAction()">Cancelar</button>
      <button class="button-create" (click)="onSubmit()">Crear</button>
    </div>
  </div>
</div>
